---

const { currentPage, totalPages, disablePrevious, disableNext} = Astro.props

interface Props {
    currentPage: number;
    totalPages: number;
    disablePrevious: boolean;
    disableNext: boolean;
}

const pages = Array.from({ length: totalPages }, (_, i) => i + 1);
const firstFivePages = pages.slice(0,5)
const remainingPages = pages.length > 5 ? pages.slice(5) : []


---
<div class="flex justify-between mt-10">
    
    <a href={'/articles?page=' + (currentPage - 1)} class={
        disablePrevious ? 'pointer-events-none inline-block bg-gray-100 text-gray-400 px-3 py-2 rounded-lg' : 'inline-block bg-indigo-100 px-3 py-2 hover:bg-indigo-600 hover:text-white rounded-lg'
    }>
      Previous
    </a>

    <div class="pagination-pages flex gap-2">

        <a href={'/articles?page=' + (firstFivePages[0])} class={
            disablePrevious ? 'pointer-events-none inline-block bg-gray-100 text-gray-400 px-3 py-2 rounded-lg' : 'inline-block bg-indigo-100 px-3 py-2 hover:bg-indigo-600 hover:text-white rounded-lg'
        }>
          First
        </a>
       
        {firstFivePages.map(page => (
            <a href={'/articles?page=' + (page)} class={
                page === currentPage
                ? 'inline-block bg-gray-100 text-gray-400 px-3 py-2 rounded-lg pointer-events-none' // Disable the link for the current page
                : 'inline-block bg-indigo-100 px-3 py-2 hover:bg-indigo-600 hover:text-white rounded-lg' // Style for other pages
            }>
      {page}
    </a>
        ))}

<!-- PAGINATION ALPINE COMPONENT -->
{remainingPages.length > 0 && (
    <div x-data="{ showPopup: false }" class="relative inline-block">
            <button @click="showPopup = !showPopup" class="cursor-pointer bg-indigo-100 px-3 py-2 rounded-lg">
                ...
            </button>

            <div x-show="showPopup" @click.away="showPopup = false" x-transition.duration.300ms class="absolute z-10 mt-2 w-40 rounded-md shadow-lg bg-white ring-1 ring-black ring-opacity-5">
                <div class="py-1" role="menu" aria-orientation="vertical">
                    {remainingPages.map(page => (
                        <a href={'/articles?page=' + page} @click="showPopup = false" class={
                        page === currentPage
                        ? 'block px-4 py-2 text-sm  text-indigo-600' // Keep hover style for current page
                        : 'block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900' // Style for other pages
                        } role="menuitem" >
                            Page {page}
                        </a>
                    ))}
                </div>
            </div>
        </div>
    )}

<a href={'/articles?page=' + (remainingPages[remainingPages.length - 1])} class={
    disableNext ? 'pointer-events-none inline-block bg-gray-100 text-gray-400 px-3 py-2 rounded-lg' : 'inline-block bg-indigo-100 px-3 py-2 hover:bg-indigo-600 hover:text-white rounded-lg'
}>
  Last
</a>

    </div>


    
    <a href={'/articles?page=' + (currentPage + 1)} class={
        disableNext ? 'pointer-events-none inline-block bg-gray-100 text-gray-400 px-3 py-2 rounded-lg' : 'inline-block bg-indigo-100 px-3 py-2 hover:bg-indigo-600 hover:text-white rounded-lg'
    }>
      Next
    </a>
  


  <!-- AlpineJS initialisation -->
  <script>
    import Alpine from 'alpinejs';
    Alpine.start();

    function updatePages(currentPage) {

        if (currentPage < 7 ) {

        }

    }
  </script>

